<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>BusFare</title>
    </head>
    <body>
        <section th:fragment="listadoRutas">
            <div class="container mt-5">
                <div class="row mb-4">
                    <div class="col text-center">
                        <button type="button" onclick="window.location.href = '/ruta/agregar'" 
                                style="padding: 15px 25px; font-size: 18px; width: 200px; background-color: #FFFFFF; color: black; border: none; border-radius: 12px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); cursor: pointer;" 
                                onmouseover="this.style.backgroundColor = '#0DCAF0'; this.style.color = '#FFFFFF'" 
                                onmouseout="this.style.backgroundColor = '#FFFFFF'; this.style.color = 'black'">
                            Agregar
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div th:if="${rutas != null and !rutas.empty}">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover mx-auto">
                                        <thead class="table-dark">
                                            <tr>
                                                <th th:text="#{ruta.identificacion}">Identificación</th>
                                                <th th:text="#{ruta.nombre}">Nombre</th>
                                                <th th:text="#{ruta.provincia}">Provincia</th>
                                                <th th:text="#{ruta.cantidadEstaciones}">Cantidad Estaciones</th>
                                                <th th:text="#{ruta.estado}">Estado</th>
                                                <th class="text-center" th:text="#{ruta.acciones}">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="ruta : ${rutas}">
                                                <td th:text="${ruta.id_ruta}">1</td>
                                                <td th:text="${ruta.nombre_ruta}">Bus</td>
                                                <td th:text="${ruta.provincia}">Heredia</td>
                                                <td th:text="${ruta.cantidad_estaciones}">15</td>
                                                <td th:text="${ruta.activo} ? #{ruta.activo} : #{ruta.inactivo}">Activo</td>
                                                <td class="text-center">
                                                    <div class="d-flex justify-content-center">
                                                        <a th:href="@{/ruta/editar/}+${ruta.id_ruta}" class="btn btn-success me-2">
                                                            <i class="fas fa-pencil"></i> <span th:text="#{ruta.editar}">Editar</span>
                                                        </a>
                                                        <form th:action="@{/ruta/eliminar/}+${ruta.id_ruta}" method="post" class="d-inline">
                                                            <button type="submit" class="btn btn-danger">
                                                                <i class="fas fa-trash"></i> <span th:text="#{ruta.eliminar}">Eliminar</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="text-center p-2" th:if="${rutas == null or rutas.empty}">
                                <span th:text="#{ruta.noDisponible}">No hay rutas disponibles.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>