<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="vistasCliente/plantilla :: header"/>

        <div style="text-align: center; margin-top: 20px;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Rickrolling_QR_code.png" alt="QR Code" />
        </div>

        <footer th:replace="vistasCliente/plantilla :: footer" />
    </body>
</html>
