<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <section th:replace="fragmentos :: botonesPrincipales"/>
        <br><br><br><br>
                        <section class="text-center mt-5">
                            <img src="https://firebasestorage.googleapis.com/v0/b/busfare-e60fc.appspot.com/o/BusPrincipal.png?alt=media&token=0ada8974-487c-45ab-8eb4-b33ea8038c2e" alt="BusAzulPrincipal" class="img-fluid">
                        </section>
                        <br><br><br><br>
    <footer th:replace="layout/plantilla :: footer" />

    </body>
</html>
