<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Lista de Conductores</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section th:replace="fragmentos :: botonesPrincipales"/>
        <section th:replace="conductor/fragmentoConductores :: listadoConductores"></section>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>


